.row.center
  .span12.background-home
    .copy-home
      %h1.h1-home Factoor
      %p.lead Contabilidad simple para todos.
      = button_to "Entrar con Facebook", "/auth/facebook", method: :get, class: "btn btn-warning btn-large btn-home"